@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');
* {
	box-sizing:border-box;
	font-family:'staatliches',cursive;
	color:white;
}
.main-header{
	background-image:url("main-header6.jpg");
	background-size:cover;
	padding-bottom:40px;
}
.nav ul{
	margin:0;
}
html,body{
	padding:0;
	margin:0;
	background-color:black;
}
.nav li{
	display:inline;
}
.nav a{
	display:inline-block;
	padding:.5em;
	text-decoration:none;
	color:black;
}
.nav a:hover{
	background-color:rgba(255,255,255,0.5);
}
.main-nav{
	text-align:center;
	font-size:2em;
}
.band-name{
	font-family:'monoton',cursive;
	font-size:4em;
	margin:0;
}
.band-name-large{
	font-size:3.5em;
	text-align:center;
	font-weight:600;
}
.content-section{
	margin:4em;
}
.container{
	max-width:900px;
	margin:0 auto;
	padding 0 1.5em;
}
.section-header{
	font-family:'rowdies',cursive;
	text-align:center;
	font-size:3em;
}
.about-image{
	float:left;
	margin-right:20px;
	border-radius:50%;
}
.main-footer{
	background-color:#ffd1dc;
	padding:0.25em 0;
}
.main-footer-container{
	display:flex;
	align-items:center;
}
.main-footer-container ul{
	flex-grow:1;
	text-align:end;
}
.footer-nav li{
	padding:0 0.5em;
}
.footer-nav img { 
	width:30px;
	height:30px;
}